.map-background {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.info-container{
    background-color: skyblue;
    color: white;
}

#searchWeatherField {
    width: 25rem;
    margin-top: 2rem;
}

.input-group {
    width: 30rem;
    margin-top: 3rem;
}
