.map-background {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 0%;
}

.info-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.info-container-2 {
    position: absolute;
    width: 100vw;
    top: 15%;
    text-align: center;
    color: white;
}

.info-container-3 {
    position: absolute;
    width: 100vw;
    bottom: 3%;
    text-align: center;
    color: white;
}

.info-container-3 .col-md-2 {
    margin-left: 0.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.input-group {
    width: 30rem;
    margin-top: 3rem;
    position: relative;
}

.bg-dark {
    border-radius: 10px;
}