<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pretty Weather{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../static/CSS/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/eb494e0f34.js" crossorigin="anonymous"></script>
    <script>
        function loadMap(){
            let long = JSON.parse('{{ longitude | tojson }}');
            let lat = JSON.parse('{{ latitude | tojson }}');

            let params = {
                center: new google.maps.LatLng(lat, long), zoom : 13,
                mapId: '9e5e8d5afac14deb',
                disableDefaultUI: true
            };

         let map = new google.maps.Map(document.getElementById("map-background"), params)
        }
    </script>
  </head>
  <body>
    <!--Main Content replaceable by jinja-->
    {% block maincontent %}
    <div class="map-background" id="map-background"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-center info-container"> 
                    <div class="col-md-3">
                        <form method="POST">
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="ex. durbanville, cape town">
                                <button class="btn btn-outline-secondary" type="submit">Search Weather</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="info-container-2">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="bg-dark bg-opacity-50 py-3">
                        <h2 class="card-title">{{location_name}}</h2>
                        <p class="card-text lead">
                          {{curr_weather.date.day}} {{curr_weather.date.month_name}} {{curr_weather.date.year}}
                        </p>
                        <hr />
                        <i class="fas {{curr_weather.weather_icon}} fa-4x"></i>
                        <h1 class="fw-bolder mb-5">{{curr_weather.temp}} &deg;C</h1>
                        <p class="lead fw-bolder mb-0">{{curr_weather.weather_desc}}</p>
                        <p class="lead">{{forecast[0].temp_min}}&deg;C | {{forecast[0].temp_max}}&deg;C</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="bg-dark bg-opacity-50 py-2">
                            <h2 class="card-title">{{forecast[1].temp}}&deg;C</h2>
                            <p class="lead">{{forecast[1].temp_min}}&deg;C | {{forecast[1].temp_max}}&deg;C</p>
                            <hr />
                            <i class="fas {{forecast[1].weather_icon}} fa-4x"></i>
                            <p class="lead fw-bolder mb-0">{{forecast[1].weather_desc}}</p>
                            <h7 class="lead">sunrise | {{forecast[1].sunrise.hour}}:{{forecast[1].sunrise.minute}}</h7><br>
                            <h7>sunset | {{forecast[1].sunset.hour}}:{{forecast[1].sunset.minute}}</h7>
                            <hr />
                            <h2 class="fw-bolder">{{forecast[1].date.day}} {{forecast[1].date.month_name}}</h2>
                            <hr />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="bg-dark bg-opacity-50 py-2">
                            <h2 class="card-title">{{forecast[2].temp}}&deg;C</h2>
                            <p class="lead">{{forecast[2].temp_min}}&deg;C | {{forecast[2].temp_max}}&deg;C</p>
                            <hr />
                            <i class="fas {{forecast[2].weather_icon}} fa-4x"></i>
                            <p class="lead fw-bolder mb-0">{{forecast[2].weather_desc}}</p>
                            <h7 class="lead">sunrise | {{forecast[2].sunrise.hour}}:{{forecast[2].sunrise.minute}}</h7><br>
                            <h7>sunset | {{forecast[2].sunset.hour}}:{{forecast[2].sunset.minute}}</h7>
                            <hr />
                            <h2 class="fw-bolder">{{forecast[2].date.day}} {{forecast[2].date.month_name}}</h2>
                            <hr />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="bg-dark bg-opacity-50 py-2">
                            <h2 class="card-title">{{forecast[3].temp}}&deg;C</h2>
                            <p class="lead">{{forecast[3].temp_min}}&deg;C | {{forecast[3].temp_max}}&deg;C</p>
                            <hr />
                            <i class="fas {{forecast[3].weather_icon}} fa-4x"></i>
                            <p class="lead fw-bolder mb-0">{{forecast[3].weather_desc}}</p>
                            <h7 class="lead">sunrise | {{forecast[3].sunrise.hour}}:{{forecast[3].sunrise.minute}}</h7><br>
                            <h7>sunset | {{forecast[3].sunset.hour}}:{{forecast[3].sunset.minute}}</h7>
                            <hr />
                            <h2 class="fw-bolder">{{forecast[3].date.day}} {{forecast[3].date.month_name}}</h2>
                            <hr />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="bg-dark bg-opacity-50 py-2">
                            <h2 class="card-title">{{forecast[4].temp}}&deg;C</h2>
                            <p class="lead">{{forecast[4].temp_min}}&deg;C | {{forecast[4].temp_max}}&deg;C</p>
                            <hr />
                            <i class="fas {{forecast[4].weather_icon}} fa-4x"></i>
                            <p class="lead fw-bolder mb-0">{{forecast[4].weather_desc}}</p>
                            <h7 class="lead">sunrise | {{forecast[4].sunrise.hour}}:{{forecast[4].sunrise.minute}}</h7><br>
                            <h7>sunset | {{forecast[4].sunset.hour}}:{{forecast[4].sunset.minute}}</h7>
                            <hr />
                            <h2 class="fw-bolder">{{forecast[4].date.day}} {{forecast[4].date.month_name}}</h2>
                            <hr />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="bg-dark bg-opacity-50 py-2">
                            <h2 class="card-title">{{forecast[5].temp}}&deg;C</h2>
                            <p class="lead">{{forecast[5].temp_min}}&deg;C | {{forecast[5].temp_max}}&deg;C</p>
                            <hr />
                            <i class="fas {{forecast[5].weather_icon}} fa-4x"></i>
                            <p class="lead fw-bolder mb-0">{{forecast[5].weather_desc}}</p>
                            <h7 class="lead">sunrise | {{forecast[5].sunrise.hour}}:{{forecast[5].sunrise.minute}}</h7><br>
                            <h7>sunset | {{forecast[5].sunset.hour}}:{{forecast[5].sunset.minute}}</h7>
                            <hr />
                            <h2 class="fw-bolder">{{forecast[5].date.day}} {{forecast[5].date.month_name}}</h2>
                            <hr />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="bg-dark bg-opacity-50 py-2">
                            <h2 class="card-title">{{forecast[6].temp}}&deg;C</h2>
                            <p class="lead">{{forecast[6].temp_min}}&deg;C | {{forecast[6].temp_max}}&deg;C</p>
                            <hr />
                            <i class="fas {{forecast[6].weather_icon}} fa-4x"></i>
                            <p class="lead fw-bolder mb-0">{{forecast[6].weather_desc}}</p>
                            <h7 class="lead">sunrise | {{forecast[6].sunrise.hour}}:{{forecast[6].sunrise.minute}}</h7><br>
                            <h7>sunset | {{forecast[6].sunset.hour}}:{{forecast[6].sunset.minute}}</h7>
                            <hr />
                            <h2 class="fw-bolder">{{forecast[6].date.day}} {{forecast[6].date.month_name}}</h2>
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="info-container-3">
                  <div class="row">
                    <div class="col-md-12 contain">
                      <div class="bg-dark bg-opacity-50 py-3">
                        <div class="row justify-content-center">
                          <div class="col-md-2">
                            <i class="fas fa-wind fa-3x"></i>
                            <p class="lead fw-bolder mb-0">wind speed</p>
                            <h7 class="lead">{{curr_weather.wind_speed}} m/sec</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-compass fa-3x"></i>
                            <p class="lead fw-bolder mb-0">wind direction</p>
                            <h7 class="lead">{{curr_weather.wind_deg}}&deg;</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-temperature-high fa-3x"></i>
                            <p class="lead fw-bolder mb-0">humidity</p>
                            <h7 class="lead">{{curr_weather.humidity}}%</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-cloud-arrow-up fa-3x"></i>
                            <p class="lead fw-bolder mb-0">cloudiness</p>
                            <h7 class="lead">{{curr_weather.clouds}}%</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-person-rays fa-3x"></i>
                            <p class="lead fw-bolder mb-0">UV index</p>
                            <h7 class="lead">{{curr_weather.uvi}}</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-smog fa-3x"></i>
                            <p class="lead fw-bolder mb-0">air quality</p>
                            <h7 class="lead">moderate</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-virus fa-3x"></i>
                            <p class="lead fw-bolder mb-0">carbon monoxide</p>
                            <h7 class="lead">200 &micro;g/&#x33A5;</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-react fa-3x"></i>
                            <p class="lead fw-bolder mb-0">nitrogen monoxide</p>
                            <h7 class="lead">400 &micro;g&#x33A5;</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-viruses fa-3x"></i>
                            <p class="lead fw-bolder mb-0">fine particles</p>
                            <h7 class="lead">256 &micro;g&#x33A5;</h7><br>
                          </div>
                          <div class="col-md-2">
                            <i class="fas fa-certificate fa-3x"></i>
                            <p class="lead fw-bolder mb-0">coarse particulate</p>
                            <h7 class="lead">800 &micro;g&#x33A5;</h7><br>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!--End-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_b2L86EFHCnnOM-IIP9XH4ycQBbj_MBE&map_ids=MAP_ID&callback=loadMap"></script>
    <script src="../static/app.js"></script>
  </body>
</html>