<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home - MagicFish.dev{% endblock %}</title>
    <link href="../static/CSS/style.css" rel="stylesheet" />
  </head>
  <body>
    <!--Main Content replaceable by jinja-->
    {% block maincontent %}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae voluptatum fugiat excepturi veniam quas reprehenderit voluptate consequatur vero. 
        Obcaecati incidunt eligendi necessitatibus repellat, nisi ea culpa laboriosam amet beatae dolor perferendis impedit numquam nostrum quod qui quae soluta 
        quia veritatis? Et eum nobis iure exercitationem, commodi animi itaque natus!
    {% endblock %}
    <!--End-->
    
    <script src="../static/app.js"></script>
  </body>
</html>